@model SerienCosmeticsProjectASP.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Chi tiết sản phẩm</h4>
            <p class="card-description"> Sản phẩm </p>
            <form class="forms-sample">
                <div class="form-group row">
                    
                    @Html.LabelFor(model => model.NamePro, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">

                        @Html.EditorFor(model => model.NamePro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.DescriptionPro, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">

                        @Html.EditorFor(model => model.DescriptionPro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Category.NameCate, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">

                        @Html.EditorFor(model => model.Category.NameCate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">

                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.ImagePro, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">

                        @Html.EditorFor(model => model.ImagePro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { IDPro = Model.ProductID })
    @Html.ActionLink("Quay về", "Product")
</p>





